<!DOCTYPE html>
<html lang="ar">
  <head> </head>
  <body dir="rtl">
    <h2>DISCLAIMER: THIS IS NOT A REAL DOCUMENT AND THIS IS FOR DEVELOPENT PURPOSE ONLY</h2>
    <h2>
      عقد إيجار وحدة سكنية
    </h2>
    <p><span>محدد المدة</span></p>
    <p><span>أنه فى يوم {% now "D" %} الموافق {% now "Y/M" %} </span></p>
    <p><span>حرر هذا العقد بين كل من :</span></p>
    <p><span>أولا :</span></p>
    <p><span> السيد {{contract.tenant.profile.user.first_name}} {{contract.tenant.profile.user.last_name}} <span></p>
    <p><span> المقيم في {{contract.tenant.profile.user.address.city}} {{contract.tenant.profile.user.address.state}} {{contract.tenant.profile.user.address.district}}</span></p>
    <p>
      <span>اثبات شخصة بموجب / بطاقة احوال شخصية رقم : ........ صالحة لغاية ..../..../....</span>
    </p>
    <p><span>(طرف أول مؤجر)</span></p>
    <p><span>ثانيا :</span></p>
    <p><span> السيد {{contract.apartment.property.owner.profile.user.first_name}} {{contract.apartment.property.owner.profile.user.last_name}} <span></p>
    <p><span> المقيم في {{contract.apartment.property.owner.profile.user.address.city}} {{contract.apartment.property.owner.profile.user.address.state}} {{contract.apartment.property.owner.profile.user.address.district}}</span></p>
    <p>
      <span>اثبات شخصة بموجب / بطاقة احوال شخصية رقم : ........ صالحة لغاية ..../..../....</span>
    </p>
    <p><span>(طرف ثاني مستاجر)</span></p>
    <p><span>تمهيد</span></p>
    <p>
      <span
        >يمتلك الطرف الأول المؤجر الوحدة السكنية رقم (......) الكائنة بالدور (.....) – بالعقار رقم
        (......) – بمدينة (.....) - بحي (......)</span
      >
    </p>
    <p>
      <span>ولما كان الطرف الثاني المستأجر يرغب فى استئجار الوحد السكنية المبينة عاليه .</span>
    </p>
    <p>
      <span
        >وحيث أن تلك الرغبة قد لاقت رضا الطرفين لذا وبعـد أن أقـر الطرفـان بأهليتهما القانونية
        للتعاقد وابرام التصرفات والاتفاق والتراضي والقبول – فقد اتفقا على التالي .</span
      >
    </p>
    <p><span>البند الأول</span></p>
    <p><span>حجية التمهيد</span></p>
    <p>
      <span>التمهيد السابق جزء لا يتجزأ من هذا العقد ومتمما ومكملا لأركانه .</span>
    </p>
    <p><span>البند الثاني</span></p>
    <p><span>مدة العقد</span></p>
    <p>
      <span
        >اتفق الطرفان على أن مدة هذا العقد هي (.................) تبدأ من ...../ ..... / .....
        وتنتهي في .... /.... / ......</span
      >
    </p>
    <p>
      <span>غير قابلة للتجديد أو للامتداد لمدة أخرى إلا بعقد جديد بين الطرفين .</span>
    </p>
    <p><span>البند الثالث</span></p>
    <p><span>القيمة الإيجارية</span></p>
    <p>
      <span
        >اتفق الطرفان على أن القيمة الإيجارية هي مبلغ قدره ........... شهريا (فقط ............لاغير)
        تسدد في الأول من كل شهر هجري وذلك مقابل ايصال موقع عليه من الطرف الأول المؤجر أو من ينوب عنه
        قانونيا .</span
      >
    </p>
    <p><span>البند الرابع</span></p>
    <p><span>قيمة التأمين</span></p>
    <p>
      <span
        >اتفق الطرفان على قيـام الطرف الثاني المستأجر بدفع مبلغ قدره ............... (فقط
        ............لا غير) كتأمين لا تحتسب عليه أية فوائد قانونية ولا يسترده الطرف الثاني المستأجر
        إلا بعد انتهاء مدة العقد وبعد خصم أية نفقات نظير أية تلفيـات تحدث بالعين المؤجرة أو أية
        مصاريف خاصة بالعين موضوع العقد ، ويكون توقيع الطرف الأول المؤجر على العقد مخالصة منه باستلام
        قيمة هذا التأمين .</span
      >
    </p>
    <p><span>البند الخامس</span></p>
    <p><span>معاينة العين المؤجرة</span></p>
    <p>
      <span
        >يقر الطرف الثاني المستأجر بأنه قد عاين العين المؤجرة المعاينة التامة النافية للجهالة شرعا
        وقانونا وأنه قبلها بحالتها وقت التعاقد وأن العين المؤجرة مستوفاه لجميع المرافق من مياه
        وكهرباء وسباكة وشبابيك وكوالين وأرضيات وأن العين المؤجرة خالية من أي خلل أو تلفيات وأنها
        صالحة للغرض الذى أعدت من أجله .</span
      >
    </p>
    <p><span>البند السادس</span></p>
    <p><span>نشاط العين المؤجرة</span></p>
    <p>
      <span
        >لا يجوز للطرف الثاني المستأجر أن يستخدم العين المؤجرة فى غير النشاط المتفق عليه فى هذا
        العقد والمعدة له وهو استخدامها كمسكن له .</span
      >
    </p>
    <p><span>البند السابع</span></p>
    <p><span>فواتير المياه والكهرباء والمعاملات الحكومية</span></p>
    <p>
      <span
        >يلتزم الطرف الثاني المستأجر بسداد كافة المطالبات الخاصة باستهلاك المياه والكهرباء والغاز
        والهاتف وكذا مصاريف الصيانة والإنارة الخاصة بالعقار وأجر الحارس ومصاريف الأجهزة المعدة لخدمة
        العين المؤجرة وكل ما يحدد بقرار من اتحاد الملاك أو الشاغلين المنظم لإدارة العقار ، وكذا كافة
        أنواع الضرائب المستحقة على العين موضوع العقد ، مع موافاة الطرف الأول المؤجر بما يفيد قيامه
        بسداد تلك النفقات بصفة شهرية .</span
      >
    </p>
    <p><span>البند الثامن</span></p>
    <p><span>صيانة وترميم العين المؤجرة</span></p>
    <p>
      <span
        >اتفق الطرفان على التزام الطرف الثاني المستأجر بإجراء الصيانة والترميمات اللازمة والضرورية
        الناتجة عن استعماله العين ، كما أنه يكون مسئولا تجاه الطرف الأول المؤجر عن الترميمات
        المستعجلة والعيوب الجسيمة ، فإذا اهمل الطرف الثاني المستأجر ولحق الطرف الأول المؤجر ضرر من
        جراء ذلك كان الطرف الثاني المستأجر مسؤلا عن هذه الاضرار ومسئولا عن تعويض الطرف الأول المؤجر
        عن كل ما لحقه من جراء ذلك .</span
      >
    </p>
    <p>
      <span
        >وكل ما ينفقه الطرف الثاني المستأجر على العين المؤجرة من دهانات أو ورق حائط أو ديكورات
        وخلافه فإنه لا يُلزم الطرف الأول المؤجر بشيء منها وأن الطرف الثاني المستأجر هو المتحمل لجميع
        تكاليف ما ينفقه على العين المؤجرة ولا يكون له الحق في مطالبة الطرف الأول المؤجر بأي تعويضات
        بسبب تلك الأعمال عند إخلاء العين موضوع العقد .</span
      >
    </p>
    <p><span>البند التاسع</span></p>
    <p><span>المحافظة على العين المؤجرة</span></p>
    <p>
      <span
        >يلتزم الطرف الثاني المستأجر بأن يراعي العين المؤجرة كما يراعي كل شخص ماله الخاص وأن يمتنع
        عن استعمالها بطريقة تتنافى وشروط الإيجار أو أن يحدث فيها أي تغييرات أو هدم أو إزالة أو إقامة
        بناء إلا بتصريح مكتوب من الطرف الأول المؤجر ، كما أنه يلتزم بعدم وضع أية أجهزة لتوصيل المياه
        أو التيار الكهربائي أو الغاز أو التلفزيون أو الهاتف أو الستالايت وما شابه ذلك إلا بعد الحصول
        على موافقة مكتوبة من الطرف الأول المؤجر كما أنه يكون ملزما بأن يتبع الأصول الفنيه لذلك وبشرط
        عدم تهديد سلامة العقار .</span
      >
    </p>
    <p><span>البند العاشر</span></p>
    <p><span>سلامة العقار</span></p>
    <p>
      <span
        >يلتزم الطرف الثاني المستأجر بأن لا يضع بالعين المؤجرة أية أشياء ثقيلة تؤثر على متانة العقار
        وأساساته أو تحدث تلفا به أو مواد ملتهبة أو قابلة للانفجار أو خطرة أو مضرة بالصحة أو أي آلات
        ميكانيكية مهما كان نوعها .</span
      >
    </p>
    <p><span>البند الحادي عشر</span></p>
    <p><span>تسليم العين المؤجرة</span></p>
    <p>
      <span
        >يلتزم الطرف الثاني المستأجر عند انتهاء مدة هذا العقد بتسليم العين المؤجرة موضوع العقد إلى
        الطرف الأول المؤجر وذلك بعد اخلائها من الأشخاص والشواغل والمنقولات ، وفي حالة تأخر الطرف
        الثاني المستأجر عن تسليم العين المؤجرة في تاريخ انتهاء هذا العقد يكون ملزما بسداد غرامة
        تأخير قدرها ............. (فقط ............لا غير) للطرف الأول المؤجر عن كل يوم تأخير ، وقد
        اتفق الطرفان على أن هذا المبلغ هو تعويض نهائى متفق عليه وغير خاضع لرقابة أو تقدير القضاء
        .</span
      >
    </p>
    <p><span>البند الثاني عشر</span></p>
    <p><span>الحجز التحفظي</span></p>
    <p>
      <span
        >اتفق الطرفان على أن كافة المنقولات الموجودة بالعين المؤجرة موضوع العقد هي ملك للطرف الثاني
        المستأجر وأنه في حالة تأخره عن سداد القيمة الإيجارية فإنه يحق للطرف الأول القيام بتوقيع
        الحجز التحفظي على جميع المنقولات الموجودة بالعين المؤجرة موضوع العقد وذلك لاستيفاء حقوقه
        منها وذلك بالإضافة إلى حقه في مصادرة مبلغ التأمين المنوه عنه في البند الرابع من هذا العقد
        .</span
      >
    </p>
    <p><span>البند الثالث عشر</span></p>
    <p><span>التنازل عن العقد والإيجار من الباطن</span></p>
    <p>
      <span
        >لا يجوز للطرف الثاني المستأجر أن يتنازل عن العقد أو عن جزء منه للغير ، ولا يجوز له أيضا أن
        يؤجر كل أو بعض العين المؤجرة موضوع العقد دون موافقة مكتوبة من الطرف الأول المؤجر .</span
      >
    </p>
    <p><span>البند الرابع عشر</span></p>
    <p><span>فسخ العقد</span></p>
    <p>
      <span
        >اتفق الطرفان على أنه يجوز لأي من الطرفين فسخ العقد قبل الميعاد المحدد لإنتهائه شريطة أن
        يقوم الطرف الراغب في الفسخ بإخطار الطرف الآخر قبل ذلك بثلاثة شهور علي الأقل دون تحمله بأي
        تعويض في هذه الحالة .</span
      >
    </p>
    <p>
      <span
        >كما اتفق الطرفان على أن يكون العقد مفسوخا من تلقاء نفسه دون حاجة إلى تنبيه أو انذار أو لجوء
        إلى القضاء أو حكم في حالة اخلال الطرف الثاني المستأجر بأي من التزاماته المنصوص عليها
        والواردة في أي بند من بنود هذا العقد أو في حالة صدور أي فعل مخل بالآداب أو النظام العام منه
        مع التزامه في هذه الحالة بأن يسدد للطرف الأول المؤجر القيمة الإيجارية الخاصة بالعين موضوع
        العقد عن كامل المدة الباقية من العقد .</span
      >
    </p>
    <p>
      <span
        >ويكون الطرف الثاني المستأجر ملزما بأن يؤدي للطرف الأول المؤجر مبلغ قدره ........ (فقط
        ...........لا غير) كتعويض نهائي متفق عليه غير خاضع لرقابة أو تقدير القضاء ، وذلك كله مع عدم
        الإخلال بأية تعويضات أخرى ورد ذكرها بأي بند من بنود هذا العقد .</span
      >
    </p>
    <p><span>البند الخامس عشر</span></p>
    <p><span>الإخطارات</span></p>
    <p>
      <span
        >اتفق الطرفان على أن عنوانهما الثابت فى هذا العقد هو العنوان الذى تصح عليه كافة الإخطارات
        والمكاتبات والمراسلات لكل طرف ، وفي حالة قيام أي طرف منهما بتغيير عنوانه فإنه يكون ملزما
        باخطار الطرف الآخر بذلك التغيير في خلال اسبوع من حدوثه وإلا اعتبرت كافة الإخطارات والمكاتبات
        والمراسلات منتجة لكافة أثارها القانونية .</span
      >
    </p>
    <p><span>البند السادس عشر</span></p>
    <p><span>الاختصاص القضائي</span></p>
    <p>
      <span
        >اتفق الطرفان على أن تختص محكمة...................بالفصل فى أي نزاع قد ينشأ – لاقدر الله –
        حول تفسير أو تنفيذ أي بند من بنود هذا العقد .</span
      >
    </p>
    <p><span>البند السابع عشر</span></p>
    <p><span>نسخ العقد</span></p>
    <p>
      <span
        >حرر هذا العقد من نسختين بيد كل طرف نسخة واحدة بعد التوقيع على جميع صفحاتها وذلك للعمل
        بموجبها عند اللزوم
      </span>
    </p>
    <p>
      <span>
        (الطرف الأول – المؤجر)                                  (الطرف الثاني – المستأجر)</span
      >
    </p>
    <p></p>
  </body>
</html>
