django==3.2.9
celery[redis]
celery-redbeat
django-model-utils
django-webpack-loader>=1.0.0
django-js-reverse
django-import-export
djangorestframework
django-debreach
python-decouple
psycopg2
brotlipy
django-log-request-id
dj-database-url
gunicorn
whitenoise
psutil
ipython
sentry-sdk
drf-yasg
djangorestframework-simplejwt
PyJWT==2.1.0
django-extensions
drf-writable-nested
django-filter
markdown
shortuuid
django-model-utils
django-admin-sortable
python-dateutil
weasyprint==53.4
pandas
django-filter
rest-framework-generic-relations
coreapi
