/* Card */
.building-card {
  /*  border: medium none;
  box-shadow: 0 0 11px #f2f8ff; */
  margin-bottom: 18px;
}

.card-list .card-body {
  background-color: #fff;
}

.card-list .card-footer {
  background-color: #fff;
}

.card-list .card-body .card-title {
  font-size: 18px;
}
.card-list .card-body .card-subtitle {
  font-size: 14px;
  font-weight: 100;
}
.card-list .card-body h2 small {
  font-size: 19px;
}
/* .card-list .card-footer span {
  margin: 0 16px 0 0;
} */
